{{>head title="MLaaS"}}
{{>nav show=false}}

<div class="container">
    <div class="form-container">
        <p><b>Name:</b> {{workName}}</p>
        <p><b>Learning:</b> {{learning}}</p>
        <p><b>Task:</b> {{task}}</p>
        <p><b>Model:</b> {{modelName}}</p>
        <p><b>Target:</b> {{target}}</p>
        <p><b>Features:</b> {{features}}</p>
        <input type="text" id="inputText" placeholder="Only space separated values">
        <br>
        <button class="btn" onclick="sendData()">Send Data</button>
        <br>
        
        <p><b>Result:</b></p> <h3 id="result">hello</h3>
    </div>
</div>


<script>
async function sendData() {
    try {
        const inputText = document.getElementById('inputText').value;
        const result = document.getElementById('result');
        result.innerHTML = "fetching result...";
        console.log(result.innerHTML);
        const requestData = {
            id: '{{id}}',
            values: inputText
        };

        const response = await fetch('/predict', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
            result.innerHTML = 'error';
        }

        const data = await response.json();
        console.log('Success:', data);
        result.innerHTML = data.result;
        // Handle success response here
    } catch (error) {
        console.error('Error:', error);
        // Handle error here
    }
}
</script>


{{>footer}}