<div style="margin: auto; width: 80%; border: 1px solid black; text-align: center;">
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr style="font-weight: bold;">
                <th>Work Name</th>
                <th>Created At</th>
                <th>Container Name</th>
                <th>Learning</th>
                <th>Task</th>
                <th>Model Name</th>
                <th>Target</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each instances}}
            <tr>
                <td>{{workName}}</td>
                <td>{{createdAt}}</td>
                <td>{{containerName}}</td>
                <td>{{learning}}</td>
                <td>{{task}}</td>
                <td>{{modelName}}</td>
                <td>{{target}}</td>
                <td>{{status}}</td>
                <td>
                    <form action="/train" method="post" style="display: inline-block;">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="action" value="train">
                        <button type="submit" class="btnTable" {{#if (eq status "trainable")}}{{else}} disabled{{/if}}>Train</button>
                    </form>
                    <form action="/predict" method="post" style="display: inline-block;">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="action" value="predict">
                        <button type="submit" class="btnTable" {{#if (eq status "predictable")}}{{else}} disabled{{/if}}>Predict</button>
                    </form>
                    <form action="/showlog" method="post" style="display: inline-block;">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="action" value="showlog">
                        <button type="submit" class="btnTable">Log</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
